html,
body {
  margin: 0;
  height: 100%;
  font-family: "Heebo", sans-serif;
  font-family: "Montserrat", sans-serif;
  font-family: "Roboto", sans-serif;
}

.main-page {
  background: linear-gradient(270.09deg, #a5deff 33.49%, #fcfefe 133.34%);
}

.main-page-text-conant {
  background: #ffffff;
  border-radius: 40px;
  padding-top: 60px;
  padding-left: 60px;
  padding-right: 60px;
  padding-bottom: 60px;
}

.main-page-button {
  background: #ff6b0a;
  color: #ffffff;
  border: none;
  border-radius: 8px;
  padding-top: 12px;
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 12px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  cursor: pointer;
}

.photo_2 {
  padding-top: 24px;
  padding-bottom: 60px;
}

.wrapper {
  width: 1170px;
  margin: auto;
  display: flex;
  display: flex;
  justify-content: space-between;
}

.main-page-description {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  margin-bottom: 60px;
  margin-top: 0px;
}

.main-page-title {
  font-weight: 600;
  font-size: 64px;
  line-height: 72px;
  color: #1b1d1f;
  margin-top: 0;
  margin-bottom: 0;
}

.main-page-text {
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  color: #1b1d1f;
  margin-top: 24px;
  margin-bottom: 14px;
}

.gus-facts {
  padding-top: 20px;
  padding-bottom: 100px;
  text-align: center;
}

.tryzub {
  margin-bottom: 24px;
  margin-top: 48px;
}

.gus {
  font-weight: 600;
  font-size: 48px;
  line-height: 72px;
  color: #1b1d1f;
}
.gus-facts-item {
  margin-right: 22px;
  margin-bottom: 0px;
}

.gus-facts-description {
  width: 772px;
  margin: auto;
  margin-bottom: 24px;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
}

.gus-facts-item-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 24px;
  color: #1b1d1f;
  margin-top: 8px;
  margin-bottom: 32px;
}

.gus-facts-item-description {
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  color: #1b1d1f;
}

.form-section {
  background: linear-gradient(270.09deg, #a5deff 33.49%, #fcfefe 133.34%);
  padding-top: 80px;
  padding-bottom: 80px;
}

.form-container {
  background: #ffffff;
  border-radius: 40px;
  padding-top: 32px;
  padding-left: 60px;
  padding-right: 60px;
  padding-bottom: 60px;
  width: 573px;
  margin: auto;
  text-align: center;
  box-sizing: border-box;
}

.form-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 24px;
  color: #1b1d1f;
  margin-top: 32px;
  margin-bottom: 12px;
}

.form-field {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 24px;
}

.form-field-email {
  margin-bottom: 48px;
}

.form-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #1b1d1f;
  margin-bottom: 24px;
}
.form-field-lable {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #1b1d1f;
  margin-bottom: 8px;
}

.form-field-input {
  height: 60px;
  width: 453px;
  border: 1px solid #005bbb;
  border-radius: 8px;
  padding-left: 8px;
  padding-right: 8px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #1b1d1f;
}

.form-btn {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  line-height: 24px;
  background: #ff6b0a;
  border-radius: 8px;
  color: #ffffff;
  border: none;
  outline: none;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 24px;
  padding-right: 24px;
  cursor: pointer;
}

.gus-anim {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  margin-bottom: auto;
  margin-top: auto;
  width: 100%;
  z-index: 2;
  pointer-events: none;
}

.gus-main-page {
  width: 50%;
}

@media screen and (max-width: 1170px) {
  .wrapper {
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    padding-bottom: 0;
  }

  .main-page-title {
    font-size: 44px;
  }

  .main-page-text-conant {
    padding: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
  }

  .main-page-description {
    margin-bottom: 0;
  }

  .gus-facts-item-wrapper {
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (max-width: 1000px) {
  .gus-main-page {
    align-self: flex-end;
  }

  .main-page-text-conant {
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 780px) {
  .gus-facts-description {
    width: auto;
  }

  .main-page-wrapper {
    flex-direction: column;
    align-items: center;
  }

  .gus-main-page {
    align-self: center;
  }

  .main-page-left-side {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .photo_2 {
    width: 100px;
  }

  .main-page-text-conant {
    text-align: center;
  }
}

@media screen and (max-width: 580px) {
  .form-container {
    width: auto;
    padding: 20px;
  }

  .form-field-input {
    width: 350px;
  }

  .form-field {
    align-items: center;
  }

  .form-container {
    width: 473px;
  }
}

@media screen and (max-width: 420px) {
  .form-container {
    padding: 10px;
  }

  .form-field-input {
    width: 280px;
    height: 40px;
  }

  .gus {
    font-size: 38px;
    line-height: 42px;
  }

  .gus-facts-description {
    margin-left: 10px;
    margin-right: 10px;
  }

  .gus-facts {
    width: 100%;
  }

  .gus-facts-item-img {
    width: 100%;
  }

  .gus-main-page {
    width: 100%;
  }
}
